/* Heading: */
.heading-title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.heading-subtitle {
    -fx-font-size: 20;
    -fx-opacity: 0.7;
}

/* Box styling: */
.box {
    -fx-background-color: #fff;
    -fx-padding: 20;
    -fx-border-color: rgba(0, 0, 0, 0.15);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Box heading styling: */
.box-heading-title {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.box-heading-subtitle {
    -fx-opacity: .7;
    -fx-font-size: 13;
}

/* Box add button styling: */
.box-add-button {
    -fx-background-color: #1069ba;
    -fx-cursor: hand;
    -fx-padding: 7;
    -fx-background-radius: 5;
}

.box-add-button .label {
    -fx-text-fill: #fff;
}

.box-add-button .image-view {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 1), 50, 1.0, 0, 0);
}

.box-add-button:hover {
    -fx-opacity: .8;
}

/* List styling: */
.list-row {
    -fx-padding: 10;
    -fx-border-color: rgba(0, 0, 0, 0.08);
    -fx-border-width: 0 0 1 0;
}

.list-row .label {
    -fx-font-size: 14;
}

.list-heading-row .label {
    -fx-font-weight: bold;
}

.list-action-button {
    -fx-cursor: hand;
}

/* Scroll-pane styling: */
.box .scroll-pane, .box .scroll-pane .viewport, .box .scroll-bar {
    -fx-background-color: transparent;
}

/* Success styling: */
.success-box {
    -fx-background-color: #dcfce7;
    -fx-border-color: #22c55e;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.success-text {
    -fx-text-fill: #166534;
    -fx-font-family: "Geist";
    -fx-font-size: 14;
}

/* Modal styling: */
.modal {
    -fx-background-color: #fff;
}

.modal-heading .label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.modal-buttons .button {
    -fx-font-size: 14;
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 5;
}

.modal-buttons .button:hover {
    -fx-opacity: .8;
}

.confirm-button {
    -fx-background-color: #dc3545 !important;
    -fx-border-width: 0;
    -fx-text-fill: #fff;
}

.confirm-button:disabled {
    -fx-cursor: wait;
}

/* Modal alert: */
.warning-alert {
    -fx-border-color: #dc3545;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.warning-alert .label {
    -fx-text-fill: #dc3545;
    -fx-font-size: 14;
}